

<h2>Sign Up for a New Gig Buddy Account</h2>

<form action="/signup" method="POST">
  
  <p>Username: <input type="text" name="username" placeholder="username"></p>
  
  <p>Password: <input type="password" name="password" placeholder="password"></p>
  
  <input class="btn btn_primary" type="submit" value="Signup">


</form>

<p><a href="/login"> Are you already a user? Log in then!</a></p> <br>

<p><a href="/">Go Back to home</a></p>
