

<h2>Welcome, <%= current_user.username.capitalize %>.</h2>

  <h2>Your Current Items</h2>
    <% @items.each do |i| %>
      <ul>
        <li><strong><%= i.brand %></strong> - <%= i.item_name %></li>
      </ul>
    <% end %>

<a href="/items/new">Add an Item</a>
<a href="/logout">Logout</a>



